<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path 'home_banner.jpg', alt: "text" %>);">
  <div class="container">
    <h1>Watchlists</h1>
    <h3>All of your favorites in one place.</h3>
    <%= link_to new_list_path do %>
      <button class="btn btn-info">Create List</button>
    <% end %>
  </div>
</div>

<div class="container my-5">
  <h2>My lists</h2>

  <div class="d-flex" id="lists">
    <% @lists.each do |list| %>
      <%= link_to list_path(list) do %>
        <% img = list.image.attached? ? cl_image_path(list.image.key) : image_path('home_banner.jpg') %>
        <div class="card">
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= img %>)">
            <%= list.name %>
          </div>
          <div class="card-body d-flex justify-content-between">
            <% unless list.creator == ("" || null) %>
              <p class="card-text m-0">by: <%= list.creator %></p>
            <% else %>
              <p></p>
            <% end %>
            <p class="m-0"><i class="fa-solid fa-comment"></i> <%= list.reviews.count %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

</div>
