<div class="container my-5">
  <div class="d-flex justify-content-between align-items-start">
    <h1><%= link_to "Lists >", root_path %> <%= @list.name %></h1>
  </div>

  <div class="d-flex justify-content-between">
    <div class="me-5 flex-grow-1">
      <h3 class="my-4">Movies (<%= @list.movies.count %>)</h3>
      <hr>
      <div class="d-flex flex-wrap" id="movies">
        <% @list.movies.each do |movie| %>
          <% bookmark = Bookmark.where(movie: movie, list: @list).first %>

          <div class="card m-2 bg-primary" style="width: 22rem;">
            <%= image_tag movie.backdrop_url, alt: "text" %>
            <div class="card-body">
              <div class="d-flex justify-content-between">
                <p class="card-title"><%= movie.title %></p>
                <p class="card-text flex-grow-1" id="rating">
                  ● <%= movie.rating %> <i class="fa-solid fa-star text-warning"></i>
                </p>
                <%= link_to bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confirm: "Delete bookmark?"} do %>
                  <i class="fa-solid fa-trash"></i>
                <% end %>
              </div>
              <p class="card-text" id="overview">
                <%= movie.overview.length < 235 ? movie.overview : movie.overview.first(235) + "..." %>
              </p>
            </div>
            <div class="p-3">
              <p class="card-text"><i class="fa-solid fa-quote-left"></i> <%= bookmark.comment %></p>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div>
      <h3 class="my-4">Add a Movie</h3>
      <hr>
      <div class="mini-form mb-5">
        <%= simple_form_for([@list, @bookmark], namespace: 'bk_form') do |f| %>
        <%= f.input :comment %>
        <%= f.association :movie %>
        <%= f.submit "Add Movie", class: "btn btn-info" %>
        <% end %>
      </div>

      <h3>Leave a Review</h3>
      <hr>
      <div class="mini-form mb-5">
        <%= simple_form_for([@list, @review], namespace: 'r_form') do |f| %>
        <%= f.input :comment %>
        <%= f.input :rating, min: 0, max: 5 %>
        <%= f.submit 'Create Review', class: "btn btn-info" %>
        <% end %>
      </div>

      <h3>Reviews (<%= @list.reviews.count %>)</h3>
      <hr>
      <div id="reviews">
        <% @list.reviews.each do |review| %>
          <p class="mb-0">
            <% review.rating.to_i.times do %>
              <i class="fa-solid fa-star text-warning"></i>
            <% end %>
            <% time_diff = (Time.now - review.created_at) / 60.0 %>
            <% text = time_diff < 1 ? "less than a minute ago" : "#{time_diff.to_i} minutes ago"%>
            <em style="opacity: .5;"><%= text %></em>
          </p>
          <p>"<%= review.comment %>"</p>
          <hr style="opacity: .1;">
        <% end %>
      </div>
    </div>

  </div>
</div>
